* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px #0000001a;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.value {
    font-weight: 700;
    font-size: 3rem;
}

.counter-controls {
    display: flex;
    gap: 4px;
}

input {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}

.btn {
    padding: 10px 16px;
    background-color: #0ff;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}